@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply my-6 text-2xl font-semibold;
  }
}
@layer components {
  .input-form {
    @apply h-[35px] w-full rounded-md bg-soft-gray p-5;
  }
  .primary-btn {
    @apply w-full rounded-md bg-orange text-white transition-all hover:bg-orange/80;
  }
  .secondary-btn {
    @apply w-full rounded-md border-2 border-orange text-orange transition-all  hover:bg-orange/20;
  }
  .label {
    @apply mb-2 block text-left text-sm font-semibold text-black;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .modal-section {
    @apply flex h-full w-full flex-col gap-2 rounded-md bg-[#FE9A00] px-3 py-2 text-left text-white transition-all hover:scale-105 hover:bg-opacity-70;
  }
}
body {
  font-family: 'Poppins', sans-serif;
}

.image-upload > input {
  display: none;
}

.requirments {
  list-style-type: '\2212';
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-banner {
  background: rgb(27, 27, 29);
  background: linear-gradient(
    0deg,
    rgba(27, 27, 29, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradient-login {
  background: linear-gradient(
    0deg, rgba(6,26,121,0.8015581232492998) 100%, rgba(56,0,1,1) 100%
    ),
    url('/public/bg_login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
}
.gradient-login-mobile {
  background-color: #FFF5E5;
}

@media screen and (max-width: 1022px) {
  .gradient-login-mobile {
    background: linear-gradient(
      0deg, rgba(4, 18, 87, 0.802) 100%, rgba(56,0,1,1) 100%
      ),
      url('/public/bg_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
